<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script language="javascript" type="text/javascript" src="/socket.io/socket.io.js"></script>
    <script language="javascript" type="text/javascript" src="/libraries/p5.min.js"></script>
    <link rel="stylesheet" href="/css/normalize.css">
    <title>Bubble Texts</title>
</head>

<body>
    <form id="message_form">
        <input id="input_msg" autocomplete="off" />
        <button>Send</button>
    </form>

    <div id="canvas" style="text-align: center;"></div>
</body>

<script language="javascript" type="text/javascript" src="/js/bubbleTexts.js"></script>

</html>