<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script language="javascript" type="text/javascript" src="/socket.io/socket.io.js"></script>
    <script language="javascript" type="text/javascript" src="/libraries/p5.min.js"></script>
    <link rel="stylesheet" href="/css/normalize.css">
    <title>Fall Texts</title>
</head>

<body>
    <!-- <p>Fall Texts</p> -->

    <!-- <ul id="messages"></ul> -->

    <form id="message_form">
        <input id="input_msg" autocomplete="off" />
        <button>Send</button>
    </form>

    <div id="canvas"></div>

    <script>
        const socketio = io();

        let texts = new Array();

        document.getElementById('message_form').addEventListener('submit', (e) => {
            socketio.emit('fallTexts_message', document.getElementById('input_msg').value);
            document.getElementById('input_msg').value = '';
            return e.preventDefault();
        });

        socketio.on('fallTexts_message', (msg) => {
            const element = document.createElement('li');
            element.appendChild(document.createTextNode(msg));
            // document.getElementById('messages').appendChild(element);
            print(msg);

            texts.push({ text: msg, x: random(width), y: -100 });
        });

        function setup() {
            const canvas = createCanvas(windowWidth, windowHeight);
            canvas.parent('canvas');
            background(255);
        }

        function draw() {
            texts.forEach((value) => {
                value.y += 2;
            });

            texts = texts.filter(v => v.y <= height);

            background(255);

            fill(0);
            textSize(32);
            textAlign(CENTER);
            texts.forEach((value) => {
                text(value.text, value.x, value.y);
            });
        }
    </script>
</body>

</html>