<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="/socket.io/socket.io.js"></script>
    <link rel="stylesheet" href="/css/normalize.css">
    <title>Fall Texts</title>
</head>

<body>
    <p>Fall Texts</p>
</body>

</html>